body{
  padding:0;
  margin:0;
  background:url("../images/trianglify.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  text-align: center;

}
.inner-container{
  height:100vh;
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.box{
  min-width:400px;
  width:70%;
  border-radius:7px;
  font-family:Helvetica;
  color:#fff;
  background:rgba(0,0,0,0.13);
  padding:30px 0px;
  text-align: center;
}
.navbar-brand{
  font-family: 'Berkshire Swash', cursive;
}
.box h1{
  font-family: 'Berkshire Swash', cursive;
  text-align:center;
  margin:30px 0;
  font-size:30px;
}
.box input[type = "text"]{
  display:block;
  width:300px;
  margin:20px auto;
  padding:15px;
  background:rgba(0,0,0,0.2);
  color:#fff;
  border:0;
}
.box input:focus,.box input:active,.box button:focus,.box button:active{
  outline:none;
}
.box button{
  background:#2ecc71;
  border:0;
  color:#fff;
  padding:10px;
  font-size:20px;
  width:330px;
  margin:20px auto;
  display:block;
  cursor:pointer;
}
.box button:active{
  background:#27ae60;
}
.box p{
  font-size:14px;
  text-align:center;
}
.box p span{
  cursor:pointer;
  color:#666;
}
/*froodleCreated styles*/
.options > input {
  display:inline-block;
  margin:0 10px;
  width:auto;
  padding:0;
}
